<div id="barcode">
    <div id="barimage1"></div><span id="bartext">5202576872448</span>
</div>
<div id="varos">
    <div id="varosimage1"></div><span id="varostext">1000ml</span>
</div>
<div id="kivotio">ΠΕΡΙΕΧΟΜΕΝΟ ΚΙΒΩΤΙΟΥ:<br>Αναμένεται</div>
<div class="pimg"></div>

<div class="keno"></div>
<div class="alltext">*Π.Π.Α.: Προσλαμβανόμενn Ποσότητα Αναφοράς ενός μέσου ενήλικα (8400kJ / 2000kcal).</div>

<style>
    tr td:last-child {text-align:center !important;}
</style>

<div class="tabout"></div>
<div class="line" style="width: 2px;"></div>

<style>
    @media screen and (max-width: 550px) {
        body {
            zoom: 130%;
        }
        }
</style>

<div class="sdt sw100">
    <div class="sdtc sp10 s444 steee stcenter sfwb">Συρραφή έως 40 φύλλα</div>
    <div class="sdtc skeno" style="width: 2px;"></div>
    <div class="sdtc sp10 seee st333 stcenter">
        <div class="sp5">Χρώματα:</span>
            <div class="sfwn s333 sbrd3 steee smr5 sp5">Μαύρο</div>
            <div class="sfwn sred sbrd3 stfff smr5 sp5">Κόκκινο</div>
            <div class="sfwn sblue steee sp5 sbrd3">Μπλε</div>
        </div>
    </div>
