<div id="barcode">
    <div id="barimage1"></div><span id="bartext">5202576872448</span>
</div>
<div id="varos">
    <div id="varosimage1"></div><span id="varostext">1000ml</span>
</div>
<div id="kivotio">ΠΕΡΙΕΧΟΜΕΝΟ ΚΙΒΩΤΙΟΥ:<br>Αναμένεται</div>
<div class="pimg"></div>

<div class="keno"></div>
<div class="alltext">*Π.Π.Α.: Προσλαμβανόμενn Ποσότητα Αναφοράς ενός μέσου ενήλικα (8400kJ / 2000kcal).</div>

<style>
    tr td:last-child {text-align:center !important;}
</style>

<div class="tabout"></div>
<div class="line" style="width: 2px;"></div>

<style>
    @media screen and (max-width: 550px) {
        body {
            zoom: 130%;
        }
        }
        
</style>

<style>
    td {border-radius: 0 !important;}
</style>
<style>
    td {border-top-left-radius: 4px !important;}
    td {border-top-right-radius: 4px !important;}
    td {border-bottom-right-radius: 4px !important;}
    td {border-bottom-left-radius: 4px !important;}
    td {border-radius: 0 0 4px 4px !important;}
    td {border-radius: 4px 4px 0 0 !important;}
</style>

