<!DOCTYPE html>
<html lang="el">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    <div class="cattitle">
        <div class="stitle">
            <i class="fas fa-tags" aria-hidden="true"></i>Ετικέτες
        </div>
    </div>
    <div class="wrapper">
        <div class="tags">
            {{range $name, $taxonomy := .Site.Taxonomies.categories}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
            <div class="tagbutton">
                <a href={{ .RelPermalink }} title="Όλα τα Προϊόντα στην Ετικέτα <i>{{$name}}</i>">{{$name}}</a>
                <sup>{{$cnt}}</sup>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
  
    {{ partial "footer" . }}
</body>
<script>
    $('.tagbutton a').each(function() {
       var text = $(this).text();
       $(this).text(text.replace('-', ' ')); 
   });
   </script>
<link rel="stylesheet" href="/allcat.css">
</html>