<!DOCTYPE html>
<html lang="el">

<head>
    {{ partial "head" . }}
</head>

<body>
    <div class="container">
        {{ partial "header" . }}
        <div class="container">
            <div class="ctout">
                <div class="cattitle">
                    <div class="stitle">
                        <i class="far fa-clone" aria-hidden="true"></i>Κατηγορίες
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="tags">
                    {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
                    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                    <div class="tagbutton">
                        <a href={{ .RelPermalink }} title="Όλα τα Προϊόντα στην Κατηγορία <i>{{$name}}</i>">{{$name}}</a>
                        <sup>{{$cnt}}</sup>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
                </div>
             
               
        </div>
        {{ partial "footer" . }}
</body>
<script>
 $('.tagbutton a').each(function() {
    var text = $(this).text();
    $(this).text(text.replace('-', ' ')); 
});
</script>
<link rel="stylesheet" href="/allcat.css">
<style>
    .cattitle {
        justify-content: center;
    }
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
</style>

</html>