<!DOCTYPE html>
<html lang="el">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    <div class="ctout">
        <div class="cattitle">
            <div class="stitle">
                <i class="far fa-clone" aria-hidden="true"></i>Κατηγορίες
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="tags">
            {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
            <div class="tagbutton">
                <a href={{ .RelPermalink }} title="All pages with tag {{$name}}"><i class="fas fa-tags"></i> {{$name}}</a>
                <sup>{{$cnt}}</sup>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
 
    {{ partial "footer" . }}
</body>
<script>
 $('.tagbutton a').each(function() {
    var text = $(this).text();
    $(this).text(text.replace('-', ' ')); 
});
</script>
<link rel="stylesheet" href="/allcat.css">
<style>
    .cattitle {
        justify-content: center;
    }
</style>

</html>