<html>
    <html>

    <head>
        {{ partial "head" . }}

    </head>
    
    <body>
        {{ partial "header" . }}
        <div class="cattitle"><b>0</b> Προϊόντα στην κατηγορία:<br>
            <strong><i class="far fa-clone" aria-hidden="true"></i> {{ .Title }}</strong></div>
        <div class="main">
            <div class="pimage"></div>
            <div class="top-title">
                <h1>{{.Title}}</h1>
            </div>
            <div class="sidebar">        <div class="wash">
                <button class="accordion"><span>ΣΥΜΒΟΛΑ ΕΤΙΚΕΤΩΝ</span></button>
                <div class="panel1">
                    <div class="victop">
                        ΠΛΥΣΙΜΟ</div>
                    <table class="victable victable2">
                        <tbody>
                            <tr>
                                <td class="vicimg vic1" style="border-right:1px solid white;"></td>
                                <td class="vicimg vic2"></td>
                            </tr>
                            <tr>
                                <td class="victext" style="border-right:1px solid white;">Πλύσιμο στους 60°C βαθμούς
                                </td>
                                <td class="victext">Πλύσιμο στους 40°C βαθμούς</td>
                            </tr>
                            <tr>
                                <td class="vicimg vic3" style="border-right:1px solid white;"></td>
                                <td class="vicimg vic4"></td>
                            </tr>
                            <tr>
                                <td class="victext" style="border-right:1px solid white;">Πλύσιμο στους 30°C βαθμούς
                                </td>
                                <td class="victext">Όχι πλύσιμο</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="victop">
                        ΛΕΥΚΑΝΤΙΚΟ</div>
                    <table class="victable2">
                        <tbody>
                            <tr>
                                <td class="vicimg vic5" style="border-right:1px solid white;"></td>
                                <td class="vicimg vic6"></td>
                            </tr>
                            <tr>
                                <td class="victext" style="border-right:1px solid white;">Επιτρέπεται λευκαντικό ή
                                    χλώριο</td>
                                <td class="victext">Όχι λευκαντικό ή χλώριο</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="victop">
                        ΣΙΔΕΡΩΜΑ</div>
                    <table class="victable victable2">
                        <tbody>
                            <tr>
                                <td class="vicimg vic7" style="border-right:1px solid white;"></td>
                                <td class="vicimg vic8"></td>
                            </tr>
                            <tr>
                                <td class="victext" style="border-right:1px solid white;">Σιδέρωμα σε υψηλή
                                    θερμοκρασία</td>
                                <td class="victext">Σιδέρωμα σε μέτρια θερμοκρασία</td>
                            </tr>
                            <tr>
                                <td class="vicimg vic9" style="border-right:1px solid white;"></td>
                                <td class="vicimg vic10"></td>
                            </tr>
                            <tr>
                                <td class="victext" style="border-right:1px solid white;">Σιδέρωμα σε χαμηλή
                                    θερμοκρασία</td>
                                <td class="victext">Όχι σίδερο</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="victop">
                        ΣΤΕΓΝΩΤΗΡΙΟ &amp; ΣΤΕΓΝΟ ΚΑΘΑΡΙΣΜΑ</div>
                    <table class="victable2">
                        <tbody>
                            <tr>
                                <td class="vicimg vic11" style="border-right:1px solid white;"></td>
                                <td class="vicimg vic12"></td>
                            </tr>
                            <tr>
                                <td class="victext" style="border-right:1px solid white;">Όχι στεγνωτήριο</td>
                                <td class="victext">Όχι στεγνό καθάρισμα</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div></div>
            <div class="product">
                <!--div class="date">{{ dateFormat "Monday, 2 January 2006" .Date }}</div>
            <div>{{ partial "date.html" (dict "date" . "language" $.Page.Language "mines" $.Site.Data.mines) }}</div>
            <div style="color:grey; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div-->
                <div class="post">
    
                    {{.Content}}
            
                    <div class="pimg">{{if isset .Params "product_image" }}<img alt="{{.Title}}" title="{{.Title}}"
                            src="{{ index .Params "product_image" }}"></div>
                    {{ end }}
    
                </div>
                <div class="plabels">
                    {{ if .Params.categories }}<strong></strong> {{range .Params.categories}}<a
                        href="{{ "/categories/" | relLangURL }}{{ . | urlize }}"><i class="fas fa-tag"
                            aria-hidden="true"></i>{{ . }}</a> {{end}}{{end}}
                    {{ if .Params.orofos }}<strong></strong> {{range .Params.orofos}}<a
                        href="{{ "/orofos/" | relLangURL }}{{ . | urlize }}"><i class="far fa-clone"
                            aria-hidden="true"></i>{{ . }}</a> {{end}}{{end}}</div>
            </div>
    
            <div class="pimg2bg">
                <div class="fclose">
                    <div style="
            width: 40px;
            height: 4px;
            background: white;
            position: absolute;
            "></div>
                    <div style="
            width: 4px;
            height: 40px;
            background: white;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            "></div>
                </div>
                <div class="pimg2">
                    <p class="imgcaption">{{.Title}}</p>
                </div>
            </div>
        </div>
        {{ partial "footer" . }}
    
    </body>
    
    <script>
        /*$(".accordion").click(function () {
            $(".panel1").slideToggle();
            $(".plus").toggleClass("atransform");
    
    
    
        });*/
        $(".pimg2").click(function () {
            $(".pimg2bg").fadeOut();
            $('.pimg2').animate({
                top: '-100%'
            }, '5000', function () {});
            $(".imgcaption").fadeOut();
        });
        $(".main .pimg").prependTo(".pimage")
        $(".pimg").click(function () {
            $(".pimg2bg").fadeIn();
            $(".pimg2").animate({
                top: '50px'
            }, '5000', function () {});
            $(".imgcaption").show();
        });
        $(".pimg3").click(function () {
            $(".pimg2bg").fadeIn();
            $(".pimg2").animate({
                top: '50px'
            }, '5000', function () {});
            $(".imgcaption").show();
        });
        $(".pimg").clone().appendTo(".pimg2");
        $(".pimg3").clone().appendTo(".pimg2");
        $('.cattitle b').html($('.zin').length);
    </script>
    
    </html>
</html>