<div class="header">
  <div class="topnav">
    <div class="logopl">
      <a href="/">
        <img class="logo-1" src="/media/icons/logo.svg" alt="" />
        <img class="logo-2" src="/media/icons/logo2.svg" alt="" />
        <p class="logotext">
          <span style="color: orange;">Private</span>
          <span style="color: orangered;">Label</span>
        </p>
      </a>
    </div>
    <div class="line"></div>
    <nav class="fnav">
      <a href="/all-labels"><i class="fas fa-tags" aria-hidden="true"></i> <span>Ετικέτες</span></a>
      <a href="/all-categories"><i class="far fa-clone" aria-hidden="true"></i> <span>Κατηγορίες</span></a>
      <a class="list" href="#"><i class="fas fa-list-alt"></i> <span>Λίστες Προϊόντων</span><i
          class="fas fa-chevron-down" style="color: orange; margin-left:8px"></i></a>
      <a class="search" href="/search"><i class="fas fa-search"></i> <span>Αναζήτηση</span></a>
    </nav>
    <div class="dots">
      <div class="din"></div>
      <div class="din"></div>
      <div class="din"></div>
    </div>
  </div>
</div>
<div class="dlistout">
  <div class="drop-list">
    <nav class="snav">
      <a href="/list-labels"><i class="fas fa-tags" aria-hidden="true"></i> Ετικέτες</a>
      <a href="/list-categories"><i class="far fa-clone" aria-hidden="true"></i> Κατηγορίες</a>
      <a class="teams" href="/list-group"><span class="team1"><i class="fas fa-object-group" aria-hidden="true"></i>
          Ομάδες:</span>
        <span class="team2" style="border: 0;">Τρόφιμα</span><span class="team2">Μη Τρόφιμα</span><span
          class="team2">Όροφος</span>
      </a>
    </nav>
  </div>
</div>

<div class="drsmenu">
  <a class="s555 sbb1 sbc333" href="/all-labels"><i class="fas fa-tags" aria-hidden="true"></i> Ετικέτες</a>
  <a class="s555" href="/all-categories"><i class="far fa-clone" aria-hidden="true"></i> Κατηγορίες</a>
  <p class="s444 sp15 sm0 steee"><i class="fas fa-list-alt" aria-hidden="true"></i> Λίστες Προϊόντων <i class="fas fa-chevron-down" style="color: orange; margin-left:8px" aria-hidden="true"></i></p>
  <a class="s555 sbb1 sbc222" href="/list-labels"><i class="fas fa-tags" aria-hidden="true"></i> Ετικέτες</a>
  <a class="s555 sbb1 sbc222" href="/list-categories"><i class="far fa-clone" aria-hidden="true"></i> Κατηγορίες</a>
  <a class="s333" href="/list-group"><i class="fas fa-object-group"></i> Ομάδες <i class="fas fa-chevron-down" style="color: orange; margin-left:8px" aria-hidden="true"></i>
  <p class="sfwn">Τρόφιμα</p>
  <p class="sfwn">Μη Τρόφιμα</p>
  <p class="sfwn">Όροφος</p>
</a>
</div>

<script>
  $("a.list").click(function () {
    $(".dlistout").slideToggle("slow");
  });

  $(".dots").click(function () {
    $(".drsmenu").slideToggle("slow");
  });
</script>
<style>
  /*DROP MENU*/
  img.logo-2 {
    display: none;
    height: 38px;
  }
  .hero-img {
    width: auto;
    height: 500px;
    background: red;
    margin: 70px auto -70px auto;
}
  .dots {
    display: none;
    grid-gap: 5px;
  }

  .din {
    width: 20px;
    height: 2px;
    background: #eee;
    border-radius: 6px;
  }
  .drsmenu {
    background: #333;
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 70px;
    padding: 0px;
    display: none;
}

.drsmenu i {
  margin-right: 10px;
}

.drsmenu a {
 
    color: #eee;
    display: block;
    padding: 15px;
    font-weight: bold;
   
    
}

.drsmenu a:hover {background:#222;}
  .header {
    width: 100%;
    height: 40px;
    background: #444;
    margin: 0 auto;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 39;
  }

  .topnav {
    max-width: 1400px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 15px;
  }

  .logopl a {
    width: 500px;
    height: 40px;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    padding-right: 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
  }

  .logopl a img {
    width: 260px;
  }

  .logotext,
  .logotext2 {
    padding: 2px 12px;
    border-radius: 4px;
    border: 2px solid #555555;
    margin-left: 8px;
    font-family: csans;
    font-size: 27px;
    color: #999;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 36px;
  }

  .line {
    width: 0px;
    border-left: 2px solid #666;
    background: #666;
    height: 40px;
    margin-left: -45px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 0px;
  }

  nav a {
    background: #555;
    color: #fff;
    padding: 9px 15px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
  }

  nav a:hover {
    background: #222;
  }

  a.search span {
    display: block;
  }

  a.search {
    display: flex;
    align-items: center;
    padding: 9px 30px;
    background: #f47920;
    position: absolute;
    right: 15px;
    border-radius: 50px;
  }

  a.search i {
    margin-right: 10px;
  }

  a.search:hover {
    background: #ce4227;
  }

  a.search img {
    width: 20px;
  }

  a.list {
    background: transparent;
    border-left: 2px solid #666;
    border-radius: 0;
  }

  a.list:hover {
    border-radius: 0 4px 4px 0;
    text-decoration: dotted;
  }

  .drop-list {
    display: flex;
    padding: 15px;
    background: #666;
    align-items: center;
    justify-content: center;
    background: #333;
  }

  .drop-list nav {
    gap: 10px;
  }

  a.teams {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  span.team2 {
    margin-right: 10px;
    border-left: 2px solid #888;
    padding-left: 10px;
    font-weight: normal;
  }

  span.team1 {
    margin-right: 5px;
  }

  .drop-list i {
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
  }

  .dlistout {
    position: relative;
    top: 70px;
    display: none;
  }

  @media only screen and (max-width:1330px) {
    .list span {
      display: none;
    }
  }

  @media only screen and (max-width:1173px) {
    .fnav {
      gap: 10px;
    }

    .fnav span {
      display: none;
    }

    .fnav i {
      margin: 0;
    }
  }

  @media only screen and (max-width:925px) {
    .wrapper {
      margin: -65px auto;
    }

    img.logo-1 {
      display: none;
    }

    img.logo-2 {
      display: block;
    }

    .logopl a img {
      width: auto;
    }

    .logopl a {
      width: 275px;
    }

    .fnav {
      margin-left: -10px;
    }
  }

  @media only screen and (max-width:870px) {
    nav.snav {
      display: grid;
      width: 100%;
      padding: 0px;
      gap: 15px;
    }

    span.team1 {
      font-weight: bold;
    }

    a.teams {
      justify-content: left;
      margin: 0;
    }
  }

  @media only screen and (max-width:690px) {
    a.search {
      padding: 12px;
      border-radius: 4px;
    }

    a.search span {
      display: none;
    }

    a.search i {
      margin: 0;
    }
  }

  @media only screen and (max-width:544px) {
    .ftitle {
      font-size: 6.5vw !important;
      padding: 15px 0px !important;
    }
    .drop-list {
      display: none;
    }
    nav a {
      display: none;
    }

    .line {
      display: none;
    }

    .dots {
      display: grid;
      background: #555;
      padding: 0;
      border-radius: 4px;
      height: 11px;
      padding: 15px 0;
      align-items: center;
      align-content: center;
      width: 40px;
      justify-content: center;
      position: absolute;
      right: 65px;
      cursor: pointer;
      transition: all .3s;
    }

    .dots:hover {
      transition: all .3s;
      background: #333;
    }

  }
    @media only screen and (max-width:388px) {
      .logotext {
        font-size: 24px;
      }
    }

    @media only screen and (max-width:371px) {
      .logotext {
        font-size: 20px;
      }
    }
</style>