
<div class="header">
<div class="topnav">
<div id="mlines" style="display: none;"><a href="#">
<div style="width: 20px; height: 2px; background-color: white; position:absolute; left:0px; right:0px; top: 13px;margin:auto;"></div>
<div style="width: 20px; height: 2px; background-color: white; position:absolute; left:0px; right:0px; top: 0px; bottom: 0px; margin:auto;"></div>
<div style="width: 20px; height: 2px; background-color: white; position:absolute; left:0px; right:0px; bottom:13px; margin:auto;"></div>
</a></div>
<div class="logopl">
<a href="/"></a>
</div>
<!--
<div class="labels"><a href="/pages/labels/marata/marata.html"><i class="fas fa-tags" aria-hidden="true"></i><b>Ετικέτες</b></a></div>
<div class="cats"><a href="/pages/labels/sklavenitis/sklavenitis.html"><i class="far fa-clone" aria-hidden="true"></i><b>Κατηγορίες</b></a></div>
-->
<a class="search-b sbrd4" href="/search/">Αναζήτηση
<img src="/media/svg/fakos.svg"></a>
<!--<a class="fakos2" href="/search/"><img src="/media/svg/fakos.svg"></a>-->

</div>


<style>
a.search-b {
    position: absolute;
    right: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: auto;
    top: 0;
    bottom: 0;
}

.search-b img {
    width: 24px;
    margin-left: 10px;
}
</style>
</div>