{{ $related := .Site.Pages.Related . | first 5 }}
{{ with $related }}
<p class="sm0 sbrd6-0 sp20 sred sfwb" style="height: 28px; line-height:28px;">
	<i class="far fa-clone" aria-hidden="true" style="margin-right: 10px;"></i>
	Δείτε επίσης</p>
<ul class="wlist">
	{{ range . }}
	
	<li class="wmain">
		
		<div class="post">
			<a href="{{.Permalink}}">
				<h1 class="ltitle">{{.Title}}</h1>
				{{.Content}}</a> 
		<div class="plabels">
			{{ if .Params.categories }}<strong></strong> {{ range sort .Params.categories }}<a class="scat"
				href="{{ "/categories/" | relLangURL }}{{ . | urlize }}"><i class="fas fa-tags"
					aria-hidden="true"></i>{{ . }}</a> {{end}}{{end}}
			{{ if .Params.tags }}<strong></strong> {{ range sort .Params.tags }}<a class="stag"
				href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><i class="far fa-clone"
					aria-hidden="true"></i>{{ . }}</a> {{end}}{{end}}</div>
				
				</div></li>
	{{ end }}
</ul>
{{ end }}
<link rel="stylesheet" href="/wlist.css">
<script>
	$(".wlist .pimg").addClass("p-img")
	$(".wlist .p-img").removeClass("pimg")
</script>
<style>
	.p-img {
display: block !important;
width: 60px;
height: 60px;
margin: auto;
position: absolute;
top:0;
bottom: 0;
left: 10px;
border-right: 2px solid #eee;
}

.p-img img {
    width: 100%;
    border: 0;
    outline: 0;
    max-width: 500px;
    margin: auto;
    display: flex;
    cursor: pointer;
    padding: 0 !important;
}

</style>