{{ $related := .Site.Pages.Related . | first 5 }}
{{ with $related }}
<p class="relhead">
	<i class="far fa-clone" aria-hidden="true" style="margin-right: 10px;"></i>
	Δείτε επίσης</p>
<ul class="wlist">
	{{ range . }}
	
	<li class="wmain">
		
		<div class="post">
			<a href="{{.Permalink}}">
				<h1 class="ltitle">{{.Title}}</h1>
				{{.Content}}</a> 
		<div class="plabels">
			{{ if .Params.categories }}<strong></strong> {{ range sort .Params.categories }}<a class="scat"
				href="{{ "/categories/" | relLangURL }}{{ . | urlize }}"><i class="fas fa-tags"
					aria-hidden="true"></i>{{ . }}</a> {{end}}{{end}}
			{{ if .Params.tags }}<strong></strong> {{ range sort .Params.tags }}<a class="stag"
				href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><i class="far fa-clone"
					aria-hidden="true"></i>{{ . }}</a> {{end}}{{end}}</div>
				
				</div></li>
	{{ end }}
</ul>
{{ end }}
<link rel="stylesheet" href="/wlist.css">
<script>
	$(".wlist .pimg").addClass("p-img")
	$(".wlist .p-img").removeClass("pimg")
</script>
<style>
	
</style>