

    {{ partial "related" . }}
    <!--
    <div class="fadein"> <div class="eskl">
    <h3><i class="fas fa-tags" aria-hidden="true" style="
    color: #888;
    font-size: 18px;
    margin-right: 10px;
    "></i>Σκλαβενίτης
    </h3>
    <div class="eimgout">
    <div class="eimg"><img src="https://sites.google.com/site/sklplfiles/files/sklavenitis.png"></div>
    </div>
    <table style="border-collapse: collapse; width: 100%; margin-top: 40px" border="0">
    <tbody>
    <tr>
    <td style="width: 5%;"><span class="sbrd50 stfff" style="padding: 10px 22.5px;font-size: 30px; background: #bbb"> <b>1</b></span></td>
    <td style="width: 26%; text-align: center"><img src="/media/icons/prod.svg" alt=""> </td>
    <td style="width: 65%; text-align: left; font-size: 22px; color: #555;">185 Προϊόντα</td>
    </tr>
    </tbody>
    </table>
    <div style="width: auto; height: 1px; background: #eee; margin: 15px 0"></div>
    <table style="border-collapse: collapse; width: 100%; margin-top: 0px" border="0">
    <tbody>
    <tr>
    <td style="width: 5%;"><span class="sbrd50 stfff" style="padding: 10px 20.5px;font-size: 30px; background: #bbb"> <b>2</b></span></td>
    <td style="width: 26%; text-align: center"><img src="/media/icons/list.svg" alt=""> </td>
    <td style="width: 65%; text-align: left; font-size: 22px; color: #555;">11 Κατηγορίες</td>
    </tr>
    </tbody>
    </table>
    
    </div>
    
    
    
    
    <div class="eskl">
    <h3><i class="fas fa-tags" aria-hidden="true" style="
    color: #888;
    font-size: 18px;
    margin-right: 10px;
    "></i>Μαράτα
    </h3>
    <div class="eimgout" style="background: #f15b27;">
    <div class="eimg" style="background: #f15b27;"><img src="https://sites.google.com/site/sklplfiles/files/marata.png"></div>
    </div>
    <table style="border-collapse: collapse; width: 100%; margin-top: 40px" border="0">
    <tbody>
    <tr>
    <td style="width: 5%;"><span class="sbrd50 stfff" style="padding: 10px 22.5px;font-size: 30px; background: #bbb"> <b>1</b></span></td>
    <td style="width: 26%; text-align: center"><img src="/media/icons/prod.svg" alt=""> </td>
    <td style="width: 65%; text-align: left; font-size: 22px; color: #555;">150 Προϊόντα</td>
    </tr>
    </tbody>
    </table>
    <div style="width: auto; height: 1px; background: #eee; margin: 15px 0"></div>
    <table style="border-collapse: collapse; width: 100%; margin-top: 0px" border="0">
    <tbody>
    <tr>
    <td style="width: 5%;"><span class="sbrd50 stfff" style="padding: 10px 20.5px;font-size: 30px; background: #bbb"> <b>2</b></span></td>
    <td style="width: 26%; text-align: center"><img src="/media/icons/list.svg" alt=""> </td>
    <td style="width: 65%; text-align: left; font-size: 22px; color: #555;">25 Κατηγορίες</td>
    </tr>
    </tbody>
    </table>
    
    </div>
    
    
    <div class="eskl">
    <h3><i class="fas fa-tags" aria-hidden="true" style="
    color: #888;
    font-size: 18px;
    margin-right: 10px;
    "></i>Bonora
    </h3>
    <div class="eimgout" style="background: #d76a28;">
    <div class="eimg" style="background: #d76a28;"><img src="https://sites.google.com/site/sklplfiles/files/bonora.png"></div>
    </div>
    <table style="border-collapse: collapse; width: 100%; margin-top: 40px" border="0">
    <tbody>
    <tr>
    <td style="width: 5%;"><span class="sbrd50 stfff" style="padding: 10px 22.5px;font-size: 30px; background: #bbb"> <b>1</b></span></td>
    <td style="width: 26%; text-align: center"><img src="/media/icons/prod.svg" alt=""> </td>
    <td style="width: 65%; text-align: left; font-size: 22px; color: #555;">75 Προϊόντα</td>
    </tr>
    </tbody>
    </table>
    <div style="width: auto; height: 1px; background: #eee; margin: 15px 0"></div>
    <table style="border-collapse: collapse; width: 100%; margin-top: 0px" border="0">
    <tbody>
    <tr>
    <td style="width: 5%;"><span class="sbrd50 stfff" style="padding: 10px 20.5px;font-size: 30px; background: #bbb"> <b>2</b></span></td>
    <td style="width: 26%; text-align: center"><img src="/media/icons/list.svg" alt=""> </td>
    <td style="width: 65%; text-align: left; font-size: 22px; color: #555;">10 Κατηγορίες</td>
    </tr>
    </tbody>
    </table>
    
    </div></div>
    
    <div class="keno"></div>
    <div class="eskl">
    <h3 style="
    background: #fa5402;
    border-color: #fa5402;
    color: #fff;
    "><i class="fas fa-plus-circle" aria-hidden="true" style="
    color: #fbc2a6;
    font-size: 20px;
    margin-right: 10px;
    "></i>Νέα Προϊόντα
    </h3>
    <div class="nprod">
    <div class="npna"><a href="/products/sklavenitis/sklavenitis-anamiktoi-karpoi-kai-kranmperi-me-xymo-mhlou-200g.html">
    <div class="naimg"><img src="/media/images/sklavenitis-anamiktoi-karpoi-kai-kranmperi-me-xymo-mhlou-200g.jpg"></div>
    <div class="natitle"><b>Σκλαβενίτης Ανάμικτοι καρποί και κράνμπερι με χυμό μήλου 200g</b> <br><span><i class="fas fa-tags" aria-hidden="true"></i> Σκλαβενίτης</span> <span><i class="far fa-clone" aria-hidden="true"></i> Ξηροί καρποί</span></div></a>
    </div>
    
    <div class="npna"><a href="/products/marata/marata-kritsinia-sitou-me-hliosporo-400g.html">
    <div class="naimg"><img src="/media/images/s800/marata-kritsinia-sitou-me-hliosporo-400g.jpg"></div>
    <div class="natitle"><b>Μαράτα Κριτσίνια σίτου με ηλιόσπορο 400g</b> <br><span><i class="fas fa-tags" aria-hidden="true"></i> Μαράτα</span> <span><i class="far fa-clone" aria-hidden="true"></i> Αρτοσκευάσματα</span></div></a>
    </div>
    
    <div class="npna"><a href="/products/bonora/bonora-espresso-classico-53g.html">
    <div class="naimg"><img src="/media/images/s800/bonora-espresso-classico-53g.jpg"></div>
    <div class="natitle"><b>Bonora Κάψουλες Espresso Classico 53g</b> <br><span><i class="fas fa-tags" aria-hidden="true"></i> Bonora</span> <span><i class="far fa-clone" aria-hidden="true"></i> Καφέδες</span></div></a>
    </div>
    
    <div class="npna"><a href="/products/bonora/bonora-mpiskota-brwmhs-me-sokolata-265g.html">
    <div class="naimg"><img src="/media/images/s800/bonora-mpiskota-brwmhs-me-sokolata-265g.jpg"></div>
    <div class="natitle"><b>Bonora Μπισκότα βρώμης με σοκολάτα 265g</b> <br><span><i class="fas fa-tags" aria-hidden="true"></i> Bonora</span> <span><i class="far fa-clone" aria-hidden="true"></i> Μπισκότα</span></div></a>
    </div>
    
    <div class="npna npnal"><a href="/products/bonora/bonora-garidakia-me-tiri-90g.html">
    <div class="naimg"><img src="/media/images/s800/bonora-garidakia-me-tiri-90g.jpg"></div>
    <div class="natitle"><b>Bonora Γαριδάκια με γεύση τυρί 90g</b> <br><span><i class="fas fa-tags" aria-hidden="true"></i> Bonora</span> <span><i class="far fa-clone" aria-hidden="true"></i> Σνακ</span></div></a>
    </div>
    
    </div>
    
    </div>

    <style>
        .sidebar {
            position: relative;
        }
    .fadein {  height:557px; width:100%; }
    .fadein .eskl { position:absolute; left:0; top:0; }
    .nprod {
    margin-top: 17px;
    }
    .npna a {
    max-width: 100%;
    background: #fff;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #383838;
    margin:  0 -15px;
    border-bottom: 2px solid #eee;
    }
    .npnal a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
    margin-bottom: -15px;
    }
    .npna a:hover {
    
    background: #eee;
    
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    }
    .naimg {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    }
    .naimg img {
    width:62px;
    height: auto;
    border-radius: 0px;
    border: 1px solid #eeeeee;
    }
    .natitle {
    margin-left: 15px;
    margin-top: -14px;
    display:;
    font-size: 15px;
    line-height: 18px;
    }
    .natitle span {
    top: 8px;
    font-size: 11px;
    padding: 4px 8px;
    background: #eee;
    color: #444;
    position: relative;
    border-radius: 2px;
    }
    .right {
    width: 30%;
    float: right;
    border: 0px solid #eee;
    border-radius: 0px;
    }
    
    .eskl td {
    padding: 10px;
    }
    
    .eskl {
    padding: 15px;
    border: 2px solid #eee;
    border-radius: 6px;
    }
    
    .eskl h3 {
    margin: -17px;
    padding: 15px;
    border-radius: 6px 6px 0 0;
    border: 2px solid #444;
    border-bottom-width: 0;
    color: #eee;
    background: #444;
    }
    
    .eimg {
    background: #ce4226;
    
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 16px;
    
    }
    
    .eimg img {
    width: 80%;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
 
    }
    
    .eimgout {
    background: #ce4226;
    margin: 0 -17px -16px;
    border-radius: 0;
    }
    </style>
    <script>$(function(){
    $('.fadein .eskl:gt(0)').hide();
    setInterval(function(){$('.fadein > :first-child').fadeOut(1000).next('.eskl').fadeIn(0).end().appendTo('.fadein');}, 7000);
    });</script>-->
    
    
    