<!DOCTYPE html>
<html lang="el">

<head>
  {{ partial "head" . }}
</head>

<body>
  {{ partial "header" . }}

  <p class="ftitle">Τα Προϊόντα <span style="color: #ff5722;"><strong>Ιδιωτικής Ετικέτας</strong></span></p>
  <div class="wrapper">

    <div class="ilabels">
      <div class="ilab"><a href="/categories/σκλαβενίτης"><img src="/media/icons/sklavenitis.png" alt="">
          <p>Σκλαβενίτης</p>
        </a></div>
      <div class="ilab"><a href="/categories/μαράτα"><img src="/media/icons/marata.png" alt="">
          <p>Μαράτα</p>
        </a></div>
      <div class="ilab"><a href="/categories/bonora"><img src="/media/icons/bonora.png" alt="">
          <p>Bonora</p>
        </a></div>
      <div class="ilab"><a href="/categories/buenas"><img src="/media/icons/buenas.png" alt="">
          <p>Buenas</p>
        </a></div>
      <div class="ilab"><a href="/categories/πιέστο"><img src="/media/icons/piesto.png" alt="">
          <p>Piesto</p>
        </a></div>
      <div class="ilab"><a href="/categories/ανθέλα"><img src="/media/icons/anthela.png" alt="">
          <p>Ανθέλα</p>
        </a></div>
      <div class="ilab"><a href="/categories/toni"><img src="/media/icons/toni.png" alt="">
          <p>Toni</p>
        </a></div>
      <div class="ilab"><a href="/categories/fishermans-boat"><img src="/media/icons/fisherman.png" alt="">
          <p>Fisherman's Boat</p>
        </a></div>
      <div class="ilab"><a href="/categories/baker-master"><img src="/media/icons/bakermaster.png" alt="">
          <p>Baker Master</p>
        </a></div>
      <div class="ilab"><a href="/categories/meat-house"><img src="/media/icons/meathouse.png" alt="">
          <p>Meat House</p>
        </a></div>

      <div class="ilab"><a href="/categories/ρόμβος"><img src="/media/icons/romvos.png" alt="">
          <p>Ρόμβος</p>
        </a></div>


      <div class="ilab"><a href="/categories/barron"><img src="/media/icons/barron.png" alt="">
          <p>Barron</p>
        </a></div>
      <div class="ilab"><a href="/categories/sette"><img src="/media/icons/sette.png" alt="">
          <p>Sette</p>
        </a></div>
      <div class="ilab"><a href="/categories/kitten"><img src="/media/icons/kitten.png" alt="">
          <p>Kitten</p>
        </a></div>
      <div class="ilab"><a href="/categories/drolio"><img src="/media/icons/drolio.png" alt="">
          <p>Drolio</p>
        </a></div>
      <div class="ilab"><a href="/categories/frogo"><img src="/media/icons/frogo.png" alt="">
          <p>Frogo</p>
        </a></div>
      <div class="ilab"><a href="/categories/γλάρος"><img src="/media/icons/glaros.png" alt="">
          <p>Γλάρος</p>
        </a></div>
      <div class="ilab"><a href="/categories/tickit"><img src="/media/icons/tickit.png" alt="">
          <p>Tickit</p>
        </a></div>
      <div class="ilab"><a href="/categories/stampa"><img src="/media/icons/stampa.png" alt="">
          <p>Stampa</p>
        </a></div>
      <div class="ilab"><a href="/categories/master-light"><img src="/media/icons/masterlight.png" alt="">
          <p>Master Light</p>
        </a></div>
      <div class="ilab"><a href="/categories/master-energy"><img src="/media/icons/masterenergy.png" alt="">
          <p>Master Energy</p>
        </a></div>
      <div style="background: transparent; display: inline-block; height: 1px; width: 100%;"></div>

    </div>

  </div>


  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <style>
    body {
      background: #eee;
    }

    p.ftitle {
      margin: 70px auto;
      text-align: center;
      background: #fff;
      font-size: 40px;
      letter-spacing: -.7px;
      padding: 30px 15px;

    }
  </style>
  {{ partial "footer" . }}
</body>

</html>