body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.smeta {
    display: none;
}
.wrapper {
    max-width: 1400px;
    padding: 15px;
    margin: 70px auto;
    overflow: unset;
}

.stitle {

    display: flex;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    border-radius: 6px;
    color:#eee;
    align-items: center;
}
.ctout {
    background: #3a3939;
}
.cattitle {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    max-width: 1400px;
    margin: 70px auto -65px auto;
    flex-flow: wrap;
}

.cattitle i {
    opacity: 1;
    margin-right: 15px;
    color: orange;
}

.tags {

    padding: 0px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(313px, 1fr) );
    gap: 10px;
}

.tagbutton {
    display: flex;
    position: relative;
    align-items: center;
    background: #efe2de;
    padding: 0 0 0 15px;
    border-radius: 4px;
}

.tagbutton a {
    padding: 15px;
    background: #efe2de;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    position: relative;
    color: #6f6056;
    text-transform: capitalize;
    border-radius: 4px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.tagbutton a:hover,
.gencat li a:hover {
    /*background: #333;
    */color: #000;
    text-decoration: underline;
    transition: all .5s;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.tagbutton i {
    color: #c5a59c;
}
sup {
    color: #fff;
    background: #d91a32;
    border-radius: 4px;
    width: 36px;
    display: inline-block;
    height: 26px;
    text-align: center;
    line-height: 26px;
    position: absolute;
    right: 15px;
    font-weight: bold;
}

.list-title-out {
    text-transform: capitalize;
    background: #eee;
    padding: 0px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    font-size: 20px;
    color: #4a4949;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-title {
    margin-right: 15px;
}
.list-title-out p {
    color: #fff;
    background: #d91a32;
    border-radius: 4px;
    width: auto;
    display: inline-block;
    height: 26px;
    text-align: center;
    line-height: 26px;
    padding: 0 10px;
    font-weight: bold;
} 




    .mtrof {
    display: grid;
    
}

.gencat ul {
    list-style-type: none;
    padding: 15px;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat( auto-fit, minmax(413px, 1fr) );
    margin-top: 0px;
    border: 2px solid #eee;
    border-radius: 0 0 6px 6px;
}




.gencat li a {
    display: flex;
    min-height: 60px;
    padding: 15px;
    align-items: center;
    color: #444;
    margin: 0;
    background: #efe2de;
    text-transform: capitalize;
    border-radius: 4px;
}

input#myInput {
    border: 2px solid #eee;
    padding: 9px 15px 9px 43px;
    border-radius: 4px;
    font-family: inherit;
    outline: none;
    font-size: inherit;
    width: 100%;
    background: #eee;
}
::placeholder {
    font-family: inherit;
    font-size: 18px;
    color: #333;
}

.filter-search {
    display: flex;
    align-items: center;
    align-content: center;
    width: -webkit-fill-available;
    border-radius: 6px;
    position: relative;
    border: 2px solid #555;
    padding: 0;
    background: #444;
}

.filter {
    padding: 0px 15px;
    color: #fff;
    height: 45px;
    line-height: 40px;
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.fak {
    position: absolute;
    left: 126px;
}

.filter-search i {
    color: #666;
    font-size: 18px;
}

.filter i {
    color: #f47920;
    margin-right: 5px;
}

.pimg3 {
    width: 60px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    padding: 5px;
    margin-right: 15px;
}

.pimg3 img {
    width: 60px;
}
@media only screen and (max-width:925px) {
    .wrapper {
        margin: 65px auto !important;
    }}
@media only screen and (max-width:500px) {
    .gencat ul {
        grid-template-columns:auto;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
    .stitle {
        zoom: 73%;
    }

    .stitle2 {
        zoom: 100%;
    }
    .filter span {
        display: none;
    }
    .fak {
        left: 66px;
    }
    .gencat li a {
        height: auto;
    }
    .mtrof {
        
        margin: -15px;
    }
    .list-title-out {
        border-radius: 0;
    }
}