

.wrapper {
    max-width: 1300px;
    padding: 15px;
    margin: 70px auto;
    overflow: unset;
}

.stitle {

    display: inline-block;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    border-radius: 6px;
    color:#eee;
}

.cattitle {
    background: #4a4949;
}

.cattitle i {
    opacity: 1;
    margin-right: 15px;
    color: orange;
}

.tags {

    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.tagbutton {
    display: flex;
    position: relative;
    align-items: center;
}

.tagbutton a {
    padding: 10px;
    background: #efdcca;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    position: relative;
    color: #6f6056;
    text-transform: capitalize;
    border-radius: 4px;
}

.tagbutton a:hover {
    background: #333;
    color: #eee;
}

sup {
    color: #fff;
    background: #d91a32;
    border-radius: 4px;
    width: 36px;
    display: inline-block;
    height: 26px;
    text-align: center;
    line-height: 26px;
    position: absolute;
    right: 15px;
    font-weight: bold;
}
