

.wrapper {
    max-width: 1300px;
    padding: 15px;
    margin: 70px auto;
    overflow: unset;
}

.stitle {

    display: inline-block;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    border-radius: 6px;
    color:#eee;
}

.cattitle {
    background: #4a4949;
}

.cattitle i {
    opacity: 1;
    margin-right: 15px;
    color: orange;
}

.tags {

    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.tagbutton {
    display: flex;
    position: relative;
    align-items: center;
}

.tagbutton a {
    padding: 15px;
    background: #efdcca;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    position: relative;
    color: #6f6056;
    text-transform: capitalize;
    border-radius: 4px;
}

.tagbutton a:hover {
    background: #333;
    color: #eee;
}

sup {
    color: #fff;
    background: #d91a32;
    border-radius: 4px;
    width: 36px;
    display: inline-block;
    height: 26px;
    text-align: center;
    line-height: 26px;
    position: absolute;
    right: 15px;
    font-weight: bold;
}

.list-title-out {
    text-transform: capitalize;
    background: #eee;
    padding: 0px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    font-size: 20px;
    color: #4a4949;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-title {
    margin-right: 15px;
}
.list-title-out p {
    color: #fff;
    background: #d91a32;
    border-radius: 4px;
    width: auto;
    display: inline-block;
    height: 26px;
    text-align: center;
    line-height: 26px;
    padding: 0 10px;
    font-weight: bold;
} 




    .mtrof {
    display: grid;
    
}

.gencat ul {
    list-style-type: none;
    padding: 15px;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat( auto-fit, minmax(413px, 1fr) );
    margin-top: 0px;
    border: 2px solid #eee;
}

.gencat li a {
    display: flex;
    height: 48px;
    padding: 10px 55px;
    align-items: center;
    color: #444;
    margin: 0;
    background: #efe2de;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
}

