.fimg img {
    width: 100%;
    border: 0;
    outline: 0;
    max-width: 500px;
    margin: auto;
    display: flex;
    cursor: pointer;
    border-radius: 2px;
}

.relhead {
    border-radius: 12px 6px 0 0;
    font-weight: bold;
    padding: 0;
    background: #444;
    color: #eee;
    margin: -6 0 0 0;
    border-bottom: 0px solid #333;
    height: 63px;
}

.relhead i {
    background: #f47920;
    border-top-left-radius: 6px;
    font-size: 22px;
    height: 63px;
    width: 63px;
    text-align: center;
    line-height: 63px;
}

.wlist .plabels {
    margin: 0;
    font-size: 15px;
    background: transparent;
    border: 0px solid #eee;
    display: flex;
    gap: 2px;
    border-top: 0;
    position: relative;
    padding: 0;
}

.wlist .plabels a {
    padding: 0px 10px;
    background: transparent;
    text-decoration: none;
    align-items: flex-start;
    border-radius: 0px;
    pointer-events: none;
    color: #333;
    border-left: 2px solid #c8c8c8;
}

.wlist .post {
    padding: 15px;
    border-radius: 0px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 15px;
}


.wmain {
    margin: 0;
    border-top: 0;
    background: #eeeeee;
}

.wlist h1 {
    font-size: 17px;
    margin: 0;
    color: #333;
    letter-spacing: -.3px;
    padding: 0 10px 10px 0;
}


.wlist {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    background: unset;
    border-radius: 0 0 8px 8px;
    border: 0px solid #eee;
    border-top: 0;
}




.wmain .fimg {
    
    margin: auto;
    border: 2px solid #eee;
    padding: 5px;
    background: #fff;
}


.wmain:nth-child(odd) {
    background: #fafafa;
}


.wmain:last-child {
    border-radius: 0 0 6px 6px;
}