.wlist .plabels {
    padding: 8px 5px;
    margin: 0;
    font-size: 11px;
    background: transparent;
    border: 0px solid #eee;
    border-radius: 0;
    display: flex;
    gap: 2px;
    border-top: 0;
    margin-left: 68px;
    position: relative;
    bottom: -5px;
}

.wlist .plabels a {
    padding:4px 8px;
    background: #eee;
    text-decoration: none;
    color: #555;
    align-items: flex-start;
    border-radius: 2px;
    pointer-events: none;
    
}

.wlist .post {
    border: 2px solid #eee;
    padding: 15px;
    border-radius: 0px;
    position: relative;
    border-top: 0;
    display: grid;
}

.wlist .product div {
    display: none;
}

.wlist .product {
    display: flex;
    height: 0;
}
.wlist .product span {
    display: none;
}



.wlist .main {
    display: block;
    padding: 0;
    margin: 0;
}

.wlist h1 {
    font-size: 15px;
    margin: 0;
    color: #444;
    padding: 0 10px 0 75px;
    line-height: 16px;
    letter-spacing: -.3px;
    position: relative;
    bottom: -2px;
}

.wlist {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.wmain {
    margin: 0;
    
}
.wmain p {
    display: none;
}
.wlist table {
    display: none;
}

.wlist .pimg {
    display: block !important;
    width: 60px;
    height: 60px;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 10px;
    border-right: 2px solid #eee;
}